#lambda o funciones anonimas

Cuando queremos crear funciones pqueñas de facil acceso y rapidas.

**Puede contener varios argumentos pero solo una expresión**

Definir lambda:



```
lambda (parámetros):expresión
```

In [1]:
#Función que eleve al cuadrado todos los elementos de una lista.
lista=[3,7,6,9]
#Comprensón
lista2=[n**2 for n in lista]

lista2

[9, 49, 36, 81]

In [4]:
#

lambda1=lambda x:x**2

lambda1(2)

4

In [5]:
lambda2=lambda x,y:x**y

lambda2(2,3)

8

In [11]:
#Elevra un número al cuadrado solo si es >10
lambda3=lambda x:True if x%2==0 else False

lambda3(3)

False

In [ ]:
def elevar(*entrada): #Se coloca * para indicar que se va a ingresar una lista.
  for i in lista:

In [13]:
letras={"A":3,"B":6,"C":9}

sorted(letras,key=lambda x:letras[x]%3)

['A', 'B', 'C']

In [50]:
import random
mi_lista=[random.randrange(1,11) for n in range(10)]
sorted(mi_lista)

[2, 2, 3, 4, 5, 7, 9, 10, 10, 10]

In [73]:
import random
mi_lista=[random.randrange(1,11) for n in range(1,10)]
sorted(mi_lista)

[2, 3, 5, 5, 6, 7, 7, 9, 10]

##Funciones de orden superior
1. MAP
La función se aplica a cada elemento de la lista

map(una_funcion,una_lista)

In [54]:
cuadrados=[]
for i in lista:
  cuadrados.append(i**2)

print(cuadrados)

[9, 49, 36, 81]

In [55]:
cuadrado2=[x**2 for x in lista]
cuadrado2

[9, 49, 36, 81]

In [56]:
cuadrado3=list(map(lambda x:x**2,lista))
cuadrado3

[9, 49, 36, 81]

#2. FILTER

Filtrar. Si se cumple la condiciób, devuelve un True.



```
filter(una_funcion,una_lista)
```

In [62]:
valores=[n for n in range(1,10)]
pares=[]
for valor in valores:
  if valor%2==0:
    pares.append(valor)

print(pares)

[2, 4, 6, 8]

In [63]:
valor2=[lol for lol in valores if lol%2==0]
valor2

[2, 4, 6, 8]

In [66]:
valor3=list(filter(lambda julito:julito%2==0,valores))
valor3

[2, 4, 6, 8]

#3. REDUCE

Es un acumulador

**Para usar REDUCE se debe importar el módulo functools**

In [70]:
from functools import reduce

def suma(lista):
  suma=0
  for i in lista:
    suma+=i
  return suma

print(suma(valores))

45

In [72]:
suma1=reduce(lambda x,y:x+y,valores)
suma1

45